<%= simple_form_for @virtual_cheque, remote: true do |f| %>
  <div class="row vcg-modal">
    <div class="col s12">
      <%= f.error :base %>
    </div>

    <div class="form-elements">
      <div class="col s12">
        <%= f.input :recipient_name %>
      </div>

      <div class="col s6">
        <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
      </div>

      <div class="col s6">
        <%= f.input :amount, as: :decimal %>
      </div>

      <div class="modal-footer col s12">
        <div class="left">
          <a href="#" id="cancel" class="btn waves-effect waves-teal">Cancel</a>
        </div>
        <%= f.button :submit, 'Generate Virtual Cheque', remote: true,
            class: 'waves-effect waves-light', id: 'create_virtual_cheque' %>
      </div>
    </div>

    <div class="view-elements">
      <div class="col s12 view-element">
        <h5 class="title">Cheque for: <%= @virtual_cheque.recipient_name %></h5>
      </div>

      <div class="col s6" view-element>
        <h5 class="title">Dated: <%= @virtual_cheque.date %></h5>
      </div>


      <div class="col s6" view-element>
        <h5 class="title">Amount: <%= number_to_currency(@virtual_cheque.amount) %></h5>
      </div>

      <div class="col s12 view-element">
        <h5 class="title">Amount in words: <%= @virtual_cheque.amount_in_words %></h5>
      </div>

      <div class="modal-footer col s12">
        <div class="left">
          <a href="#" id="cancel" class="btn waves-effect waves-teal">Cancel</a>
        </div>
    </div>
    </div>
  </div>
<% end %>
