<%= tag.tr virtual_cheque do %>
  <td><%= virtual_cheque.date %></td>
  <td><%= virtual_cheque.recipient_name %></td>
  <td><%= virtual_cheque.amount %></td>
  <td><%= link_to 'View virtual cheque', virtual_cheque_path(virtual_cheque), remote: true %></td>
<% end %>
