<!DOCTYPE html>
<html>
  <head>
    <title>VirtualCheckCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <%= link_to "Jay's VCG", root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right">
          <li>
            <%= link_to 'New Virtual Cheque', new_virtual_cheque_path, remote: true,
                class: 'modal-trigger', data: { target: 'modal1' } %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
